html, body {
    border: 0em;
    font-size: 100%;
    margin: auto;
    vertical-align: baseline;
}

#top {
    height: 7em;
    position: fixed;
    top: 0px;
    width: 100%;
}

#header {
    background-color: #4B0082;
    color: #ffffff;
    width: 100%;
    height: 4.1em;
}

#header > h1 {
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    max-width: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}

#nav_bar {
    border-bottom: ridge 2px #4B0082;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    background-color: #ffffff;
}

#nav_bar a:link {
	color: #000000;
}

#nav_bar a:visited {
	color: #000000;
}

#nav_bar a:hover {
	color: #228B22;
}

.nav_span {
	margin-right: 1em;
	margin-left: 1em;
}

.nav_span a {
	text-decoration: none;
}

#container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-right: 2em;
    padding-left: 2em;
}

#main_content {
    margin-top: 8em;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-left: 1em;
    padding-right: 1em;
}

#side_bar {
    float: left;
    width: 25%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/*#facts {
	padding-left: 1em;
}*/

.fact_title {
	font-weight: bold;
}

#center_content {
    display: inline-block;
    width: 60%;
    float: right;
    border-left: solid 1px #808080;
    padding-left: 2em;
    margin-bottom: 2em;
}

#center_content > p {
	text-indent: 2em;
}

#image {
	display: block;
	text-align: center;
	margin: auto;
}

.caption {
	text-align: center;
}

